<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>{{ o.cohort_name }}</title>
</head>
<body>
    <div class="container">
        <div class="row" style="padding-top:30px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% if 'website' in o %}
                    {% set header = '<a href="' + o.website + '">' + o.cohort_name + '</a>' %}
                {% else %}
                    {% set header = o.name %}
                {% endif %}
                <h1>{{ header }}</h1>
                <hr>
                <p><b>PI Lead(s):</b> {{ o.pi_lead }}</p>
                {% if ',' in o.countries %}
                    <p><b>Countries:</b> {{ o.countries }}</p>
                {% else %}
                    <p><b>Country:</b> {{ o.countries }}</p>
                {% endif %}
                {% if o.current_enrollment %}
                    <p><b>Current Enrollment:</b> {{ o.current_enrollment }}</p>
                {% endif %}
                {% if o.target_enrollment %}
                    <p><b>Target Enrollment:</b> {{ o.target_enrollment }}</p>
                {% endif %}
                {% if o.enrollment_period %}
                    <p><b>Enrollment Period:</b> {{ o.enrollment_period }}</p>
                {% endif %}
                <p><b>Data:</b> <a href="{{ o.data_dictionary }}">View data dictionary</a> | <a href="{{ o.mapping }}">View CINECA mapping</a></p>
                <p><b>OWL:</b> <a href="{{ o.tree }}">View OWL tree</a> | <a href="{{ o.owl }}">Download OWL file</a></p>
            </div>
        </div>
    </div>
</body>
